*{
    margin:0;
    padding:0;
}

body{
    background-color: #a9a9a9;
    font-family: helvetica;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
    a:hover{
        color:#df4601;
        font-size: 20px;
    }

 ul{
     list-style: none;
 }

 .head{
    border: 1px red solid;
    background-color: #df4601;
    
 }
    p{
        text-align: center;
        font-size: 26px;
        padding: 1%;
    }

.box1{
    margin-top: 8%;
    margin-left:10%;
    float:left;
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
}

.box2{
    float:right;
    padding: 10px;
    border: 2px black solid;
    background-color: black;
    width: 200px;
    height: 1569px;
    
}
    .box2 p{
        font-size: 16px;
        text-align: left;
        color:white;
    }
